# -------------------------------------------------------------
# Discord Application Configuration
# -------------------------------------------------------------

# Discord bot token (compulsory field)
DISCORD_BOT_TOKEN=""

# Discord bot command prefix, Defaults to '!'
DISCORD_BOT_COMMAND_PREFIX=""

# MongoDB URI (compulsory field)
MONGO_DATABASE_URI=""

# Custom host address. Defaults to 0.0.0.0 (optional)
WEB_HOST="0.0.0.0"

# Custom port number. Defaults to 9000 (optional)
WEB_PORT=9000


# --------------------------------------------------------------------------------------------------------------
# OpenAI API Configuration (for AI chatbot)
# --------------------------------------------------------------------------------------------------------------
# These settings are required if you enable the AI chatbot feature.
# Uncomment the following line and provide your OpenAI API key if you wish to enable the AI chatbot feature.
#
# API_KEY=""


# --------------------------------------------------------------------------------------------------------------
# Lavalink Server Configuration (for Music Player)
# --------------------------------------------------------------------------------------------------------------
# These settings are required if you enable the music player feature.
# Uncomment the following lines and provide your Lavalink server details if you wish to enable the music player feature.
#
# LAVALINK_HOST="https://example.lavalink.net"
# LAVALINK_PORT=2333
# LAVALINK_IS_SECURE="True"
# LAVALINK_PASSWORD="youshallnotpass"


# -------------------------------------------------------------------------------------------------------------
# R2 Storage Configuration (for Voice Record and Uploading Recorded Audio)
# -------------------------------------------------------------------------------------------------------------
# These settings are required if you enable the voice recording feature.
# Uncomment the following line and provide your R2 credentials if you wish to enable the voice recorder feature.
#
# How to get R2 credentials:
# 1. Log in to your Cloudflare account.
# 2. Navigate to the R2 section.
# 3. Create a new R2 bucket or use an existing one.
# 4. Copy the bucket name and paste it into the R2_BUCKET field below.
# 5. Then go to the "API Tokens" section in your Cloudflare dashboard.
# 6. Create a new API token with the "Account R2 Storage" permission, grant them with read and write access.
# 7. Copy the 'Secret Access Key' and 'Access Key ID', and paste them into the R2_ACCESS_KEY_ID and R2_SECRET_ACCESS_KEY fields below.
# 8. Go to bucket settings and obtain the 'S3 Endpoint' URL
# 9. The part after 'https://' and before the first '/' in the S3 Endpoint URL is your R2_ACCOUNT_ID. Paste it into the R2_ACCOUNT_ID field below.
# 10. Save the changes to this file and restart the bot for the changes to take effect.
#
# R2_ACCOUNT_ID=""
# R2_ACCESS_KEY_ID=""
# R2_SECRET_ACCESS_KEY=""
# R2_BUCKET=""


# -------------------------------------------------------------
# Plugin Settings (for disabling bot features)
# -------------------------------------------------------------
# This allows you to control which plugins needs to be disabled when the bot starts.
# To do so, type 'DISABLE_' followed by the plugin name (in UPPER_SNAKE_CASE) 
# and set it '1' or 'True' to disable it.
# For example, to disable MusicPlayer and Recorder, you could set
#
# DISABLE_BOT_EXTENSIONS_MUSICPLAYER_MUSIC=1
# DISABLE_BOT_EXTENSIONS_VOICERECORDER_RECORDER=1
#
# All features inside ./bot/extensions folder, and AI ChatBot are disabled by default.
# If you wish to enable them, remove the lines below.
# However, please ensure the required credentials are provided in the above sections before enabling the features.
# Failure to do so will result in the bot crashing on startup.

DISABLE_BOT_EXTENSIONS_VOICERECORDER_RECORDER=1
DISABLE_BOT_EXTENSIONS_MUSICPLAYER_MUSIC=1
DISABLE_BOT_GENERAL_CHATBOT=1

