# -------------------------------------------------------------
# Discord Application Configuration
# -------------------------------------------------------------

# Discord bot token (compulsory field)
DISCORD_BOT_TOKEN=""

# Discord bot command prefix, Defaults to '!'
DISCORD_BOT_COMMAND_PREFIX=""

# MongoDB URI (compulsory field)
MONGO_DATABASE_URI=""

# Custom host address. Defaults to 0.0.0.0 (optional)
WEB_HOST="0.0.0.0"

# Custom port number. Defaults to 9000 (optional)
WEB_PORT=9000


# -------------------------------------------------------------
# OpenAI API Configuration (for AI chatbot)
# -------------------------------------------------------------
# These settings are required if you enable the AI chatbot feature.
# Uncomment the following line and provide your OpenAI API key if you wish to enable the AI chatbot feature.
#
# API_KEY=""


# ------------------------------------------------------------
# Lavalink Server Configuration (for music player)
# -------------------------------------------------------------
# These settings are required if you enable the music player feature.
# Keep these at their default values unless you have made modifications.

LAVALINK_HOST="https://example.lavalink.net"
LAVALINK_PORT=2333
LAVALINK_IS_SECURE="True"
LAVALINK_PASSWORD="youshallnotpass"


# -------------------------------------------------------------
# Plugin Settings
# -------------------------------------------------------------

# All features are enabled by default.
# This allows you to control which plugins are loaded when the bot starts.
# To do so, type the plugin name and set it to "False" to disable it.
# For example, to disable MusicPlayer and ChatBot, you could set
#
# bot.extensions.MusicPlayer="False"
# bot.general.ChatBot="False"
